<h1> Return Cart </h1>

<table >
  <tr>
    <th>UPC</th>
    <th>SKU</th>
    <th>Position</th>
  </tr>

  <tr>
    <td> <%= @last.upc %> </td> 
    <td><%= @last.sku %></td> 
    <td>the hard part</td>
  </tr>

  </table>

